aiofiles==23.2.1
aiohttp==3.8.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
annotated-types==0.5.0
anyio==4.0.0
async-timeout==4.0.3
attrs==23.1.0
beautifulsoup4==4.12.2
bleach==3.3.0
blinker==1.6.3
bottle==0.12.25
Brotli==1.0.9
bs4==0.0.1
certifi==2023.7.22
charset-normalizer==3.3.0
ci-info==0.3.0
click==8.1.7
cmake==3.27.6
commonmark==0.9.1
configobj==5.0.8
configparser==6.0.0
dataclasses-json==0.5.14
Django==1.11.23
duckduckgo-search==3.8.5
enum-compat==0.0.3
etelemetry==0.3.0
exceptiongroup==1.1.3
fastapi==0.103.0
fastapi-pagination==0.12.9
filelock==3.12.3
fitz==0.0.1.dev2
Flask==3.0.0
frozenlist==1.4.0
future==0.18.3
gatt==0.2.7
greenlet==2.0.2
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.17.3
httplib2==0.22.0
httpx==0.24.1
hyperframe==6.0.1
idna==3.4
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.2
langchain==0.0.291
langsmith==0.0.26
looseversion==1.3.0
lxml==4.9.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.1
mdit-py-plugins==0.4.0
mdurl==0.1.2
multidict==6.0.4
mypy-extensions==1.0.0
networkx==3.1
nibabel==5.1.0
nipype==1.8.6
numexpr==2.8.6
numpy==1.25.2
openai==0.28.0
openapi-schema-pydantic==1.2.4
packaging==23.1
pandas==2.0.3
pathlib==1.0.1
patsy==0.5.3
pexpect==4.8.0
Pillow==10.0.0
prov==2.0.0
psycopg2-binary==2.9.7
ptyprocess==0.7.0
pyblue==2022.8.1
pydantic==2.3.0
pydantic_core==2.6.3
pydot==1.4.2
pygatt==4.0.5
PyJWT==2.8.0
PyMuPDF==1.23.2
PyMuPDFb==1.23.0
PyMySQL==1.1.0
pyparsing==3.1.1
pyserial==3.5
pytesseract==0.3.10
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
pyxnat==1.6
PyYAML==6.0.1
rdflib==7.0.0
requests==2.31.0
scipy==1.11.2
simplejson==3.19.1
six==1.16.0
sniffio==1.3.0
socksio==1.0.0
soupsieve==2.5
SQLAlchemy==2.0.20
starlette==0.27.0
statsmodels==0.14.0
tenacity==8.2.3
tqdm==4.66.1
traits==6.3.2
twilio==8.9.1
typing-inspect==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.4
uvicorn==0.23.0
waitress==1.4.3
webencodings==0.5.1
Werkzeug==3.0.0
yarl==1.9.2